// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/hello-ionic/hello-ionic";

@import "../pages/item-details/item-details";

@import "../pages/article-details/article-details";

@import "../pages/search-articles/search-articles";

.avatar {
  height: 88px;
  width: 88px;
}

.img-circle {
  border-radius: 50%;
  background-size:150px;
  width: 85px;
  height: 80px;
  margin-left: 7%;
  margin-top: 3%;
}
