<ion-header>
  <ion-navbar pixis>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button (click)="searchArticle()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="option()">
        <ion-icon isActive="true" name="heart"></ion-icon>
      </button>
    </ion-buttons> <ion-buttons end>
      <button (click)="option($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="art-detail-img">
    <img src="./img/lizard.png"/>
  </div>

  <ion-card>
    <ion-card-content text-center>
      <button  class="contact-btn-left" medium round secondary >
        <ion-icon   name="call" royal></ion-icon>
      </button>
      <button class="" medium round danger>
        <ion-icon   name="mail"></ion-icon>
      </button>
      <button class="contact-btn-right" medium round >
        <ion-icon name="text" ></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="header-padding">
      <ion-item>
        Prix : {{article.prix}}
        <ion-badge item-right>{{article.nombreDeVue}}</ion-badge>
      </ion-item>
    </ion-card-header>
    <hr class="card-devider" />
    <ion-card-content>
      <h2 margin-bottom text-capitalize style="margin-bottom: 5px;">{{article.titre | titeCapitalize}}</h2>
      <p margin-bottom text-justify>{{article.details}}</p>
      <p *ngIf="article.dateModification === null">Ajouté : {{article.dateAjout | occasStreetTimer}}</p>
      <p *ngIf="article.dateModification">Modifié : {{article.dateModification | occasStreetTimer}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>
      Vendeur
    </ion-card-header>
    <hr class="card-devider" />
    <ion-card-content>
      <ion-item>
        <ion-avatar item-left>
          <img src="img/lizard.png">
        </ion-avatar>
        {{article.utilisateur.nom}} {{article.utilisateur.prenom}}
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card id="article-details-map">

  </ion-card>

  <ion-card text-center>
    <ion-card-header class="header-padding">
      Infos supplémentaires
    </ion-card-header>
    <hr class="card-devider" />
    <ion-card-content no-margin>
      <ion-icon margin class="social-media-icon" name="swap"></ion-icon>
      <ion-icon margin class="social-media-icon"  name="chatbubbles"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header class="header-padding">
      Partager l'annonce
    </ion-card-header>
    <hr class="card-devider" />
    <ion-card-content>
      <ion-icon margin facebook class="social-media-icon" name="logo-facebook"></ion-icon>
      <ion-icon margin twitter class="social-media-icon" name="logo-twitter"></ion-icon>
      <ion-icon margin danger class="social-media-icon" name="mail"></ion-icon>
      <ion-icon margin dark class="social-media-icon" name="text"></ion-icon>
      <ion-icon margin whatsapp class="social-media-icon" name="logo-whatsapp"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
